@model UserManagement.Web.Models.Users.UserDetailsViewModel


<div class="table-responsive">
    <table class="table table-striped">
        <thead>            
            <tr>
                <th>Id:</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Forename:</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Surname:</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Email:</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Date of Birth:</th>
                <th style="width: 1px;"></th>
            </tr>
            <tr>
                <th>Account Active:</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
